* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(116, 147, 133);
  padding: 2rem;
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
}

.container h2 {
  text-align: center;
  margin-bottom: 1rem;
}

input {
  padding: 12px;
  width: 70%;
  border: 1px solid #8c8989;
  border-radius: 4px;
  font-size: 0.75rem;
  margin-bottom: 1.5rem;
}

label {
  width: 100px;
  margin-top: 10px;
  text-align: left;
  float: left;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #165222;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
}

button[type="submit"]:hover {
  background-color: #328b50;
}

.page-links {
  display: block;
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
}

.page-links .link {
  color: #fff;
  text-decoration: none;
  margin-left: 2px;
}

.page-links .link:hover {
  text-decoration: underline;
}
